html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;

  background-color: rgb(52, 69, 67);

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url('assets/images/bcg2.png');

  background-repeat: no-repeat;
  background-size: 2000px 1500px;


  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 750px) {
  body {
    overflow: visible;
  }
}
